<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="viewport" content="width=device-width" />
		<title>SunSmart</title>
		
		<!--  Fonts and icons     -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/stylesheets/animate.css" rel="stylesheet" />
		<link href="/stylesheets/paper-dashboard.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
		<link href="/stylesheets/themify-icons.css" rel="stylesheet">
		<link href="/stylesheets/index.css" rel="stylesheet">
		
		<!--   Core JS Files   -->
		<script src="https://code.jquery.com/jquery-3.2.1.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div class="wrapper">
			<div class="sidebar" data-background-color="black" data-active-color="danger">
				<div class="sidebar-wrapper">
					<div class="logo">
						<a href="javascript:window.location.reload()" class="simple-text">
							SunSmart
						</a>
					</div>
					<ul id="menu" class="nav">
						<li id="dashboard" class="da1  active" onclick="changeView(this)">
							<a href="javascript:void(0)">
								<i class="ti-panel"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li id="devices" class="da2" onclick="changeView(this)">
							<a href="javascript:void(0)">
								<i class="ti-mobile"></i>
								<p>Devices</p>
							</a>
						</li>
						<li id="uvindex" class="da3" onclick="changeView(this)">
							<a href="javascript:void(0)">
								<i class="ti-shine"></i>
								<p>UV Index</p>
							</a>
						</li>
						<li id="publicapi" class="da7" onclick="changeView(this)">
							<a href="javascript:void(0)">
								<i class="ti-key"></i>
								<p>SunSmart API</p>
							</a>
						</li>
						<li id="weatherforcast" class="da6" onclick="changeView(this)">
							<a href="javascript:void(0)">
								<i class="ti-bolt"></i>
								<p>Weather Forcast</p>
							</a>
						</li>						
						<li id="healthtips" class="da4" onclick="changeView(this)">
							<a href="javascript:void(0)">
								<i class="ti-pulse"></i>
								<p>Health Tips</p>
							</a>
						</li>
						<li id="userprofile" class="da5" onclick="changeView(this)">
							<a href="javascript:void(0)">
								<i class="ti-user"></i>
								<p>User Profile</p>
							</a>
						</li>						
					</ul>
				</div>
			</div>
			
			<div class="main-panel">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar bar1"></span>
								<span class="icon-bar bar2"></span>
								<span class="icon-bar bar3"></span>
							</button>
							<a id="navhead" class="navbar-brand" href="javascript:void(0)"></a>
						</div>
						<div id="menu-collapse" class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li id="logoutli" onclick="logoutfix()">
									<a href="javascript:void(0)">
										<i class="ti-panel"></i>
										<p>Logout</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				
				<div class="content">
					<div class="container-fluid">
						
						<div id="dashboard-content">
							<div class="row">
								<div class="col-lg-4 col-sm-4">
									<div class="card">
										<div class="content">
											<div class="row">
												<div class="col-xs-5">
													<div class="icon-big icon-warning text-center" id="device">
													</div>
												</div>
												<div class="col-xs-7">
													<div class="numbers">
														<p>DEVICES</p>
													</div>
												</div>
											</div>
											<div class="footer">
												<hr />
												<div class="stats">
													<button class="btn btn-dashboard" onclick="change(1)">Get Started</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="card">
										<div class="content">
											<div class="row">
												<div class="col-xs-5">
													<div class="icon-big icon-success text-center" id="uvcard">
													</div>
												</div>
												<div class="col-xs-7">
													<div class="numbers">
														<p>UV INDEX</p>
													</div>
												</div>
											</div>
											<div class="footer">
												<hr />
												<div class="stats">
													<button class="btn btn-dashboard" onclick="change(2)">Get UV Index</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="card">
										<div class="content">
											<div class="row">
												<div class="col-xs-5">
													<div class="icon-big icon-danger text-center" id="healthtip">
														<i></i>
													</div>
												</div>
												<div class="col-xs-7">
													<div class="numbers">
														<p>HEALTH TIPS!</p>
													</div>
												</div>
											</div>
											<div class="footer">
												<hr />
												<div class="stats">
													<button class="btn btn-dashboard" onclick="change(3)">Get Health Tips</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="card">
										<div class="content">
											<div class="row">
												<div class="col-xs-5">
													<div class="icon-big icon-info text-center" id="profile">
													</div>
												</div>
												<div class="col-xs-7">
													<div class="numbers">
														<p>USER PROFILE</p>
													</div>
												</div>
											</div>
											<div class="footer">
												<hr />
												<div class="stats">
													<button class="btn btn-dashboard" onclick="change(4)">My Profile</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="card">
										<div class="content">
											<div class="row">
												<div class="col-xs-5">
													<div class="icon-big icon-info text-center" id="forecastcard">
													</div>
												</div>
												<div class="col-xs-7">
													<div class="numbers">
														<p>WEATHER FORECAST</p>
													</div>
												</div>
											</div>
											<div class="footer">
												<hr />
												<div class="stats">
													<button class="btn btn-dashboard" onclick="change(5)">Get Forecast</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="card">
										<div class="content">
											<div class="row">
												<div class="col-xs-5">
													<div class="icon-big icon-info text-center" id="sunsmartapicard">
													</div>
												</div>
												<div class="col-xs-7">
													<div class="numbers">
														<p>SUNSMART API</p>
													</div>
												</div>
											</div>
											<div class="footer">
												<hr />
												<div class="stats">
													<button class="btn btn-dashboard" onclick="change(6)">Get Your API</button>
												</div>
											</div>
										</div>
									</div>
								</div>							
								
							</div>
						</div>
						
						<div id="devices-content" style="display:none">
							<div class="row">
								<div id="Nodevice">
									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<div class="card">
												<div class="container-fluid" style="padding: 25px">
													<strong>No Devices Found. Please Add a device to get started.</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="registeredDevices">
									<div class="row" id="registeredDevices-content">
									</div>
								</div>
							</div>
							<div class="row" style="text-align: center">
								<button id="addDeviceBtn" type="button" class="btn btn-info" data-toggle="modal" data-target="#registerModal">Add Device</button>
							</div>
						</div>
						
						<div id="uvindex-content" style="display:none">
							<div class="row">
								<div id="NodeviceData" style="display: none">
									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<div class="card">
												<div class="container-fluid" style="padding: 25px">
													<strong>No Device-data Found. Please Add a device to get started.</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="deviceData">
									<div class="row" id="avguvexposed" style="display: none">
										<div class="col-sm-offset-3 col-lg-7 col-sm-7">
											<div class="card">
												<div class="content">
													<div class="form-group">
														<Label for="averageUVExposed">Average UV you were Exposed to: </Label>
														<input id="averageUVExposed" style="color : green;" type="text" class="form-control" disabled="disabled"/> 
													</div>
													<div class="form-group">
														<Label for="aggUVExposed">Aggregated UV you were Exposed to: </Label>
														<input id="aggUVExposed" style="color : green;" type="text" class="form-control" disabled="disabled"/> 
													</div>													
													<!--<hr>
													<div class="form-group">
														<Label for="spf">Enter the SPF of the Suncreen: </Label>
														<input id="spf" style="color : green;" type="text" class="form-control" /> 
													</div>
													<div class="form-group">
														<Label for="spftime">For how much time(in minutes) were you exposed to UV today ?</Label>
														<input id="spftime" style="color : green;" type="text" class="form-control"/> 
													</div>
													<button id="netuv" class="btn btn-primary">Calculate Net UV exposure </button>
													<hr>
													<div class="form-group">
														<Label for="spfcal">Exposure after taking SPF into account</Label>
														<input id="spfcal" style="color : green;" type="text" class="form-control"/> 
													</div>-->												
												</div>
											</div>
										</div>
									</div>								
									<div class="row" id="deviceData-content" style="display: none">
										<div class="col-sm-offset-3 col-lg-7 col-sm-7">
											<div class="card">
												<div class="content">
													<div class="table-wrapper"> </div>
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="padding-bottom: 8px;display:none" id="notedata">
										<div class="col-sm-offset-3 col-lg-6 col-sm-6">
											<div style="color:red; font-size:10pt">*City and Zip Code are based on Photon's GPS location.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="text-align: center">
								<button id="getLatestBtn" type="button" class="btn btn-info" onclick="latestDevicedata()">Get Latest Data</button>
							</div>
						</div>
						
						<div id="healthtips-content" style="display:none">
							<div class="row">
								<div class="col-sm-offset-1 col-lg-10 col-sm-10">
									<div class="card">
										<div class="header" style="background-color: green; color: white; text-align: center; font-size: 14pt">
											0 to 2: Low
										</div>
										<div class="content">
											<p>
												A UV Index reading of 0 to 2 means low danger from the sun's UV rays for the average person.
											</p>
											<ol>
												<li>Wear sunglasses on bright days.</li>
												<li>If you burn easily, cover up and use broad spectrum SPF 30+ sunscreen.</li>
												<li>Watch out for bright surfaces, like sand, water and snow, which reflect UV and increase exposure.</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-lg-10 col-sm-10">
									<div class="card">
										<div class="header" style="background-color: #CCCC00; color: white; text-align: center; font-size: 14pt">
											3 to 5: Moderate
										</div>
										<div class="content">
											<p>
												A UV Index reading of 3 to 5 means moderate risk of harm from unprotected sun exposure.
											</p>
											<ol>
												<li>Stay in shade near midday when the sun is strongest.</li>
												<li>If outdoors, wear protective clothing, a wide-brimmed hat, and UV-blocking sunglasses.</li>
												<li>Generously apply broad spectrum SPF 30+ sunscreen every 2 hours, even on cloudy days, and after swimming or sweating.</li>
												<li>Watch out for bright surfaces, like sand, water and snow, which reflect UV and increase exposure.</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-lg-10 col-sm-10">
									<div class="card">
										<div class="header" style="background-color: orange; color: white; text-align: center; font-size: 14pt; vertical-align: middle">
											6 to 7: High
										</div>
										<div class="content">
											<p>
												A UV Index reading of 6 to 7 means high risk of harm from unprotected sun exposure. Protection against skin and eye damage is needed.
											</p>
											<ol>
												<li>Reduce time in the sun between 10 a.m. and 4 p.m.</li>
												<li>If outdoors, seek shade and wear protective clothing, a wide-brimmed hat, and UV-blocking sunglasses.</li>
												<li>Generously apply broad spectrum SPF 30+ sunscreen every 2 hours, even on cloudy days, and after swimming or sweating.</li>
												<li>Watch out for bright surfaces, like sand, water and snow, which reflect UV and increase exposure.</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-lg-10 col-sm-10">
									<div class="card">
										<div class="header" style="background-color: red; color: white; text-align: center; font-size: 14pt">
											8 to 10: Very High
										</div>
										<div class="content">
											<p>
												A UV Index reading of 8 to 10 means very high risk of harm from unprotected sun exposure. Take extra precautions because unprotected skin and eyes will be damaged and can burn quickly.
											</p>
											<ol>
												<li>Minimize sun exposure between 10 a.m. and 4 p.m.</li>
												<li>If outdoors, seek shade and wear protective clothing, a wide-brimmed hat, and UV-blocking sunglasses.</li>
												<li>Generously apply broad spectrum SPF 30+ sunscreen every 2 hours, even on cloudy days, and after swimming or sweating.</li>
												<li>Watch out for bright surfaces, like sand, water and snow, which reflect UV and increase exposure.</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-lg-10 col-sm-10">
									<div class="card">
										<div class="header" style="background-color: violet; color: white; text-align: center; font-size: 14pt">
											11 or more: Extreme
										</div>
										<div class="content">
											<p>
												A UV Index reading of 11 or more means extreme risk of harm from unprotected sun exposure. Take all precautions because unprotected skin and eyes can burn in minutes.
											</p>
											<ol>
												<li>Try to avoid sun exposure between 10 a.m. and 4 p.m.</li>
												<li>If outdoors, seek shade and wear protective clothing, a wide-brimmed hat, and UV-blocking sunglasses.</li>
												<li>Generously apply broad spectrum SPF 30+ sunscreen every 2 hours, even on cloudy days, and after swimming or sweating.</li>
												<li>Watch out for bright surfaces, like sand, water and snow, which reflect UV and increase exposure.</li>
											</ol>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
						<div id="userprofile-content" style="display:none">						
							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<div class="card">
										<div class="header">
											User Details
										</div>
										<div class="content">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div id="weatherforcast-content" style="display:none">						
							<div class="row">
								<div class="col-lg-5 col-sm-5">
									<div class="card">
										<div class="header">
											<div class="form-group">
												<Label for="zip_code">ZIP Code</Label>
												<input id="zip_code" type="text" class="form-control" pattern="[0-9]{5}" placeholder="Enter the 5 digit zip code"/> 
											</div>
											<div id="weatherforcastError"></div>
											<br>
											<button type="button" class="btn btn-default" id="forecastBtn" >Get Weather Forecast!</button>
										</div>
										<div class="content">
										</div>
									</div>
								</div>
							</div>							
							<div class="row" id="forecastDataCards">								
							</div>							
						</div>
						
						<div id="publicapi-content" style="display:none">						
							<div class="container">
								<div>
									<h2> Dont have your own device? </h2>
								</div>
								<div>
									<p>With our public API, now you dont have to carry your own device. Our public API allows users to get an average UV index of a particular location if it has been recorded by users with a device.</p>
									<p>SunSmart allows public users to get the average UV index of a particular loaction using two ways:</p>
									<div>
										<ul>
										<li> Zip Code </li>
										<li> City </li>
										</ul>
									</div>
								</div>
								<div class= "row">
									<div class="col-lg-6 col-sm-6">
										<div class="card">
											<div class="header" id="publickeyHeading" style="font-weight: bold; font-family: Helvetica, Arial, sans-serif">
												<p><strong>Click below to get your API key!</strong></p>
											</div>
												<div class="content">
												<div class="form-group">
													<Label for="publickeyInput">API Key</Label>
													<input id="publickeyInput" type="text" class="form-control" disabled="disabled"/> 
												</div>												
												<button class="btn" id="publicAPIBtn">Get APIKEY</button>
											</div>
										</div>
									</div>
								</div>
								<div>
									<h2>Request parameters</h2>
									
									<p>apikey=[key] (REQUIRED)</p>
									<ul>
										<li>
											key - Your API Key.
										</li>
									</ul>
									
									<p>zipCode=[String] (returns the average UV index of a specific zip Code)</p>
									<ul>
										<li>
											zipCode - The ZIP code for which you want the average UV index.
										</li>
									</ul>
									<p>city=[String] (returns the average UV index of a specific city name)</p>
									<ul>
										<li>
											city - The city for which you want the average UV index.
										</li>
									</ul>
								</div>
								<div>
									<h2>API Endpoints</h2>
									
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th>Description</th>
												<th>Required parameters</th>
												<th>Examples</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Get average UV index by ZIP code</td>
												<td>zipCode</td>
												<td>zipCode=85719</td>
											</tr>
											<tr>
												<td>Get average UV index by City</td>
												<td>city</td>
												<td>city=Tucson</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div>
									<h2>Example Request</h2>
									<div class="shadow">
										<p>https://sunsmart513.duckdns.org/deviceData/zip?zipCode=85719&apikey={API_KEY}</p>
									</div>
									
									<div class="shadow">
										<p>https://sunsmart513.duckdns.org/deviceData/city?city=Tucson&apikey={API_KEY}</p>
									</div>
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-sm-offset-3 col-lg-6 col-sm-6">
										<div class="card">
											<div class="content">
												<div id="zipCodelist" >
													<strong>Get UV Index Based on Zip Code</strong><br/><br/>
													<div class="zipCodeParameter">
														<div class="form-group">
															<label for="zipCode">Enter Zip code</label>
															<input type="text" id="zipCode" class="form-control">
															<div class="error11" display="none"></div>
														</div>
														<div class="form-group">
															<label for="apikey1">Your API key</label>
															<input type="password"  id="apikey1" class="form-control" disabled="disabled">
															<div class="error12" display="none"> </div>
														</div>
													</div>
													<div class="response1" display="none"> </div>
													<br/>
													<button id="button1" class="btn-primary" onclick="getUVdata1()">Get UV index</button>		
												</div><br/>
												<hr>
												<div id="Citylist" >
													<strong>Get UV Index Based on City</strong><br/><br/>
													<div class="form-group">
														<label for="city">Enter City</label>
														<input id="city" type="text" class="form-control">
														<div class="error21" display="none"></div>
													</div>
													<div class="form-group">
														<label for="apikey2">Your API key</label>
														<input id="apikey2" type="password" class="form-control" disabled="disabled">
														<div class="error22" display="none">
													</div>
													<div class="response2" display="none"> </div>	
													<br/>
													<button id="button2" class="btn-primary" onclick="getUVdata2()">Get UV index</button>						
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						
						
					</div>
				</div>
			</div>	
				<!-- Here comes the footer-->
				<footer class="footer">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul>
								<li>
									<a href="https://github.com/Ganeshr93">
										GitHub
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright pull-right">
							&copy;
							<script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by SunSmart Inc
						</div>
					</div>
				</footer>
			</div>
		

		<div style="display: none">
			<form id="logoutForm" action="/users/logout" method="post">
				<input name="username" type="password" id="logoutInput">
			</form>
		</div>
		
		<!-- Modal for Register Device-->
		<div id="registerModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Device register form</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="deviceid">DeviceID</label>
								<input name="deviceid" type="text" class="form-control" id="deviceid" placeholder="Device Id" required="required">
							</div>
							<div id="registerdevice-error" style="color: red; margin: 3px 0px 3px 0px">
							</div>
							<button type="button" id="register-submit" class="btn btn-primary">Submit</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</form>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		

		
		<script src="/js/paper-dashboard.js"></script>
		
		<script>
			var userEmail = '{{{email}}}';
			var updatedEmail = '';
			var deviceId = '';
			var authToken='{{{authToken}}}';
			var username= '{{{username}}}';
			var devicesList= [];
			var publicAPIKey = '';
			$(document).ready(function () {
				if(authToken != ''){
					window.localStorage.setItem("authToken", authToken);
				}
				else{
					console.log("Auth Token is Empty");
				}
				loadContent();
				getDevices();
				if(devicesList.length > 0){
					//latestDevicedata();
				}
				getExisitngAPIKEY();
			});
			
			function change(x) {
				if(x==1) {
					var element = document.getElementById("devices");
					changeView(element);
				}
				else if(x==2) {
					var element = document.getElementById("uvindex");
					changeView(element);
				}
				else if(x==3) {
					var element = document.getElementById("healthtips");
					changeView(element);
				}
				else if(x==4) {
					var element = document.getElementById("userprofile");
					changeView(element);
				}
				else if(x==5) {
					var element = document.getElementById("weatherforcast");
					changeView(element);
				}
				else if(x==6) {
					var element = document.getElementById("publicapi");
					changeView(element);
				}
			}
			
			function changeView(event) {
				var listactive = document.getElementsByClassName('active');
				
				if (listactive.length > 0) {
					var flagActive = true;
					while (flagActive) {
						listactive = document.getElementsByClassName('active');
						for (var i = 0; i < listactive.length; i++) {
							listactive[i].className = listactive[i].className.replace(/\active\b/g, "");
						}
						
						var isEmpty = document.getElementsByClassName('active');
						if (isEmpty.length == 0) {
							flagActive = false;
						}
					}
				}
				
				var classes = document.getElementsByClassName(event.className.split(' ')[0]);
				for (var i = 0; i < classes.length; i++) {
					classes[i].className += " active";
				}
				
				loadContent(event.id);
			}
			
			function loadContent(id) {
				switch (id) {
					case 'dashboard':
                    $('#devices-content').hide();
                    $('#userprofile-content').hide();
                    $('#uvindex-content').hide();
                    $('#healthtips-content').hide();
					$('#weatherforcast-content').hide();
					$('#publicapi-content').hide();
                    $('#dashboard-content').show();
					document.getElementById("navhead").innerHTML = "DASHBOARD";
                    break;
					case 'devices':
                    $('#dashboard-content').hide();
                    $('#userprofile-content').hide();
                    $('#uvindex-content').hide();
                    $('#healthtips-content').hide();
					$('#weatherforcast-content').hide();
					$('#publicapi-content').hide();
                    $('#devices-content').show();
					document.getElementById("navhead").innerHTML = "DEVICES";
                    break;
					case 'healthtips':
                    $('#devices-content').hide();
                    $('#dashboard-content').hide();
                    $('#uvindex-content').hide();
                    $('#userprofile-content').hide();
					$('#weatherforcast-content').hide();
					$('#publicapi-content').hide();
                    $('#healthtips-content').show();
					document.getElementById("navhead").innerHTML = "HEALTH TIPS";
                    break;
					case 'uvindex':
                    $('#devices-content').hide();
                    $('#dashboard-content').hide();
                    $('#healthtips-content').hide();
                    $('#userprofile-content').hide();
					$('#weatherforcast-content').hide();
					$('#publicapi-content').hide();
                    $('#uvindex-content').show();
					document.getElementById("navhead").innerHTML = "UV INDEX";
                    break;
					case 'userprofile':
					getUserDetails();
                    $('#devices-content').hide();
                    $('#dashboard-content').hide();
                    $('#uvindex-content').hide();
                    $('#healthtips-content').hide();
					$('#weatherforcast-content').hide();
					$('#publicapi-content').hide();
                    $('#userprofile-content').show();
					document.getElementById("navhead").innerHTML = "USER PROFILE";
                    break;
					case 'weatherforcast':
                    $('#devices-content').hide();
                    $('#dashboard-content').hide();
                    $('#uvindex-content').hide();
                    $('#healthtips-content').hide();
                    $('#userprofile-content').hide();
					$('#publicapi-content').hide();
					$('#weatherforcast-content').show();
					document.getElementById("navhead").innerHTML = "WEATHER FORECAST";
                    break;
					case 'publicapi':
                    $('#devices-content').hide();
                    $('#dashboard-content').hide();
                    $('#uvindex-content').hide();
                    $('#healthtips-content').hide();
                    $('#userprofile-content').hide();
					$('#weatherforcast-content').hide();
					$('#publicapi-content').show();
					document.getElementById("navhead").innerHTML = "SUNSMART API";					
                    break;				
					default:
                    $('#devices-content').hide();
                    $('#userprofile-content').hide();
                    $('#uvindex-content').hide();
                    $('#healthtips-content').hide();
					$('#weatherforcast-content').hide();
					$('#publicapi-content').hide();
                    $('#dashboard-content').show();
					document.getElementById("navhead").innerHTML = "DASHBOARD";
				}
			}
			
			$('#addDeviceBtn').on('click', function () {
				$('#registerdevice-error').html('');
				$("#deviceid").val('');
			});
			
			$("#forecastBtn").click(function() {
				var zip_code = $("#zip_code").val();
				var url = "/forecast?postal_code=";
				var querystring = encodeURIComponent(zip_code);
				$.ajax({
					type: "GET",
					url: url + querystring,
					responseType: "json",
					success: forecast,
					error: function (jqXHR, status, error) {
						console.log(jqXHR.responseJSON);
					}
				});
			});
			
			$("#publicAPIBtn").click(function(){
				var email = userEmail;
				var url = "/getPublicAPI";
				$.ajax({
					type: "POST",
					url: url,
					data: {email : email}, 
					responseType: "json",
					success: renderPublicKey,
					error: function (jqXHR, status, error) {
						console.log(jqXHR.responseJSON);
					}
				});			
			});
			
			function renderPublicKey(data){	
				$('#publickeyInput').val(data.apikey);
				$('#publicAPIBtn').remove();
				$('#publickeyHeading').html('Below is your API key!');
				publicAPIKey = data.apikey;
				$('#apikey1').val(publicAPIKey);
				$('#apikey2').val(publicAPIKey);
			}		
			
			
			function forecast(data, status, xhr) {
				var finaldata= data["uv"];
				var htmlData='';
				for(var i in finaldata) {
					htmlData+='<div class="col-lg-5 col-sm-5">';
					htmlData+='<div class="card">';
					htmlData+='<div class="header" style="background-color: #808080; color: white; font-size: 14pt; text-align: center">';
					htmlData+='Date  '+ finaldata[i].date;
					htmlData+='</div>';
					htmlData+='<div class="content">';
					htmlData+='<ul>';
					htmlData+='<li> UV: '+ finaldata[i].uv +'</li>';
					htmlData+='<li> Max Temperature: '+ finaldata[i].max_temp+'</li>';
					htmlData+='<li> Min Temperature: '+ finaldata[i].min_temp+'</li>';
					htmlData+='<li> Precipitation: '+ finaldata[i].precip+'</li>';
					htmlData+='</ul>';
					htmlData+='</div>';
					htmlData+='</div>';
					htmlData+='</div>';
				}
				$('#forecastDataCards').html(htmlData);
			}			
			
			$('#register-submit').on('click', function () {
				var url = '/register';
				var data = {
					deviceId: $("#deviceid").val(),
					email: userEmail
				}
				
				$.ajax({
					type: "POST",
					url: url,
					dataType: "json",
					data: data,
					success: AppendRegisteredDevice,
					error: function (jqXHR) {
						var error = jqXHR.responseJSON.error;
						$('#registerdevice-error').html(error);
					}
				});
				
				deviceId=$("#deviceid").val();
			});
			
			function AppendRegisteredDevice(msg) {
				//Update devices list
				devicesList.push(msg.deviceId);
				deviceId=msg.deviceId; //TODO: Need to modify this.
				$('#registerModal').modal('hide');
				$('#Nodevice').hide();
				var htmldata = '<div id="' + msg.deviceId + '"><div class="col-lg-6 col-sm-6"><div class="card"><div class="container-fluid" style="padding: 15px">';
				htmldata += '<form>';
				htmldata += '<div class="form-group">';
				htmldata += '<label>Device ID</label>';
				htmldata += '<input type="text" class="form-control" value="' + msg.deviceId + '" disabled="disabled">';
				htmldata += '</div>';
				htmldata += '<div class="form-group">';
				htmldata += '<label>API Key</label>';
				htmldata += '<input type="text" class="form-control" value="' + msg.apikey + '" disabled="disabled">';
				htmldata += '</div>';
				htmldata += '</form>';
				htmldata += '<button class="btn" id="' + msg.deviceId + '!#!btn" onclick="DeleteDevice(this)">Delete Device</button>';
				htmldata += '</div></div></div></div>';
				$('#registeredDevices-content').append(htmldata);
				
			}
			
			function DeleteDevice(element){
				var devId = element.id.split('!#!')[0];
				var url = '/deleteDevice';
				var data = {
					deviceId: devId,
					email: userEmail
				}
				
				$.ajax({
					type: "POST",
					url: url,
					dataType: "json",
					data: data,
					success: function(msg){
						var index = devicesList.indexOf(devId);
						if (index > -1) {
							devicesList.splice(index, 1);
						}
						$("#"+devId).remove();
						//console.log("Device "+ devId + " is now deleted");
					},
					error: function (jqXHR) {
						var error = jqXHR.responseJSON;
						console.log(error);
					}
				});
			}
			
			
			function getExisitngAPIKEY(){				
				var url = '/existingpublickey?email=';
				var querystring = encodeURIComponent(userEmail);
				$.ajax({
					type: "GET",
					url: url + querystring,
					dataType: "json",
					success: loadRegistedredAPIKEY,
					error: function (jqXHR) {
						var error = jqXHR.responseJSON;
						console.log(error);
					}
				})												
			}
			
			function loadRegistedredAPIKEY(data){
				if(data.apikey){
					$('#publickeyInput').val(data.apikey);
					$('#publicAPIBtn').remove();
					$('#publickeyHeading').html('Below is your API key!');
					publicAPIKey = data.apikey;
					$('#apikey1').val(publicAPIKey);
					$('#apikey2').val(publicAPIKey);
				}
			}
			
			
			function getDevices() {
				var url = '/devices?email=';
				var querystring = encodeURIComponent(userEmail);
				$.ajax({
					type: "GET",
					url: url + querystring,
					dataType: "json",
					success: loadRegistedredDevices,
					error: function (jqXHR) {
						var error = jqXHR.responseJSON.error;
						console.log(error);
					}
				})
			}
			
			function loadRegistedredDevices(msg) {
				if (msg.devices) {
					$('#Nodevice').hide();
					devicesList=[];
					for (var i in msg.devices) {
						AppendRegisteredDevice(msg.devices[i]);
					}					
					//console.log(devicesList);
					if(devicesList.length == 0){
						$('#Nodevice').show();
						}else{
						//Start loading UV data from devices					
					}
				}
				else {
					$('#Nodevice').show();
				}
			}
			
			
			function latestDevicedata(){				
				var url = '/getDeviceData?email=';
				var querystring = encodeURIComponent(userEmail);
				$.ajax({
					type: "GET",
					url: url + querystring,
					dataType: "json",
					success: loadUVData,
					error: function (jqXHR) {
						var error = jqXHR.responseJSON.error;
						console.log(error);
						$('NodeviceData').show();
					}
				});
			}
			
			function loadUVData(message){
				var msg=message.data;
				if(msg.length == 0 || msg.error){
					$('#NodeviceData').show();
				}
				else{
					$('#NodeviceData').hide();
					var len = msg.length;
					var htmlData = '<table class="table table-striped table-responsive" align="center" style="margin-left: auto; margin-right: auto">';
					htmlData += '<thead class="thead-inverse"><tr><th>Time</th><th>UV Exposure</th><th>City</th><th>ZipCode</th></tr></thead>';
					htmlData += '<tbody>'
					for(var i = len-1; i >= len - 50; i--){
						//console.log(msg[i])						
						if(i == len-50) break;
						htmlData += '<tr>';
						htmlData += '<td data-title="Time">' + msg[i].time +'</td><td data-title="UV Exposure">' + msg[i].uv + '</td>';
						htmlData += '<td data-title="City">' + msg[i].city +'</td><td data-title="UV Exposure">' + msg[i].zip + '</td>';
						htmlData += '</tr>';
					}
					htmlData += '</tbody>';
					htmlData += '</table>';
					//aggregateUV
					$('.table-wrapper').html(htmlData);
					$('#deviceData-content').show();
					$('#notedata').show();
					$('#aggUVExposed').val(message.aggregateUV);
					$('#averageUVExposed').val(message.averageUV);
					$('#avguvexposed').show();
				}
			}
			
			function latestDevicedata123(){	//TODO Use this later			
				var url = '/deviceData/latest?deviceId=';
				var querystring = encodeURIComponent(devicesList[0]);
				$.ajax({
					type: "GET",
					url: url + querystring,
					dataType: "json",
					success: loadUVData123,
					error: function (jqXHR) {
						var error = jqXHR.responseJSON;
						console.log(error);
					}
				});
			}
			
			
			function loadUVData123(msg){
				//console.log(msg.data)
				if (msg.data) {
					$('#NodeviceData').hide();
					var htmldata = '<div class="col-lg-6 col-sm-6"><div class="card"><div class="container-fluid" style="padding: 15px">';
					htmldata += '<form>';
					htmldata += '<div class="form-group">';
					htmldata += '<label>Latitude</label>';
					htmldata += '<input type="text" class="form-control" value="' + msg.data.latitude + '" disabled="disabled">';
					htmldata += '</div>';
					htmldata += '<div class="form-group">';
					htmldata += '<label>Longitude</label>';
					htmldata += '<input type="text" class="form-control" value="' + msg.data.longitude + '" disabled="disabled">';
					htmldata += '</div>';
					htmldata += '<div class="form-group">';
					htmldata += '<label>UV Exposure</label>';
					htmldata += '<input type="text" class="form-control" value="' + msg.data.uv + '" disabled="disabled">';
					htmldata += '</div>';
					htmldata += '<div class="form-group">';
					htmldata += '<label>Time</label>';
					htmldata += '<input type="text" class="form-control" value="' + msg.data.time + '" disabled="disabled">';
					htmldata += '</div>';
					htmldata += '</form>';
					htmldata += '</div></div></div>';
					$('#deviceData-content').html(htmldata);
				}
				else {
					$('#NodeviceData').show();
				}
			}
			
			
			function getUserDetails(){
				var url = '/userDetails?email=';
				var querystring = userEmail;
				$.ajax({
					type: "GET",
					url: url + querystring,
					dataType: "json",
					success: handleUserData,
					error: function (jqXHR) {
						var error = jqXHR.responseJSON.error;
						console.log(error);
					}
				});				
			}
			
			
			function handleUserData(data) {
				var _name = data.name;
				var _email = data.email;
				var htmldata = '<div class="col-lg-6 col-sm-10"><div class="card"><div class="container-fluid" style="padding: 15px">';
				htmldata += '<form class="form-horizontal" >';
				htmldata += '<div class="form-group">';
				htmldata += '<label class="control-label col-sm-3">Name:</label>';
				htmldata += '<div class="col-sm-8">'
				htmldata += '<input type="text" id="editName" class="form-control" value="' + _name + '" disabled="disabled">';
				htmldata += '</div>';
				htmldata += '</div>';
				htmldata += '<div class="form-group">';
				htmldata += '<label class="control-label col-sm-3">Email:</label>';
				htmldata += '<div class="col-sm-8">'
				htmldata += '<input type="text" id="editEmail" class="form-control" value="' + _email + '" disabled="disabled">';
				htmldata += '</div>';
				htmldata += '</div>';
				htmldata += '<div class="form-group">';
				htmldata += '<label class="control-label col-sm-3">Old Password:</label>';
				htmldata += '<div class="col-sm-8">'
				htmldata += '<input type="password" id="old-pwd" class="form-control" placeholder="Enter Old Password" disabled="disabled">';
				htmldata += '</div>';
				htmldata += '</div>';
				htmldata += '<div class="form-group">';
				htmldata += '<label class="control-label col-sm-3">New Password:</label>';
				htmldata += '<div class="col-sm-8">'
				htmldata += '<input type="password" id="new-pwd" class="form-control" placeholder="Enter New Password" disabled="disabled">';
				htmldata += '</div>';
				htmldata += '</div>';
				htmldata += '<div class= "col-sm-offset-3 col-sm-8"><div id="updateMessage" style="display : none"></div></div>'
				htmldata += '<div class="form-group">';
				htmldata += '<div class="col-sm-offset-2 col-sm-10">';
				htmldata += '<div class="btn-toolbar">'
				htmldata += '<button type="button" class="btn btn-default" id="userDetailsEdit">Edit</button>';
				htmldata += '<button type="button" class="btn btn-default" id="userDetailsUpdate" disabled>Update</button>';
				htmldata += '</div>';
				htmldata += '</div>';
				htmldata += '</div>';
				htmldata += '</form>';
				htmldata += '</div></div></div>';
				$('#userprofile-content').html(htmldata);
			}
			
			$(document).on('click', '#userDetailsEdit', function() {
				$("#userDetailsUpdate").attr("disabled", false);
				$("#editEmail").attr("disabled", false);
				$("#editName").attr("disabled", false);
				$("#old-pwd").attr("disabled", false);
				$("#new-pwd").attr("disabled", false);
			});
			
			$(document).on('click', '#userDetailsUpdate', function() {
				var _name = $('#editName').val();
				var _email = $('#editEmail').val();
				var _oldpwd = $('#old-pwd').val();
				var _newpwd = $('#new-pwd').val();
				//console.log("name: " + _name + ", email: " + _email + ", old email: " + userEmail);
				
				
				var updatedData = {name : _name, new_email : _email, old_pwd : _oldpwd, new_pwd : _newpwd, old_email : userEmail};
				var url = '/updateUserDetails';
				updatedEmail = _email;
				$.ajax({
					type: "POST",
					url: url,
					dataType: "json",
					data: updatedData,
					success: updateConfirmation,
					error: function (jqXHR) {
						var error = jqXHR.responseJSON.error;
						console.log("ERROR: " + error);
					}
				});
			});
			
			function updateConfirmation(data){
				var message = data.message;	
				var updMsg = document.getElementById('updateMessage');
				updMsg.innerHTML = message;
				if(data.updated == true){
					userEmail = updatedEmail; //Updated user email ID
					updMsg.style.color = "green";
					updMsg.style.display = "block";
					$("#userDetailsUpdate").attr("disabled", true);
					$("#editEmail").attr("disabled", true);
					$("#editName").attr("disabled", true);
					$("#old-pwd").attr("disabled", true);
					$("#new-pwd").attr("disabled", true);
				}
				else{
					updMsg.style.color = "red";
					updMsg.style.display = "block";
					$("#userDetailsUpdate").attr("disabled", false);
					$("#editEmail").attr("disabled", false);
					$("#editName").attr("disabled", false);
					$("#old-pwd").attr("disabled", false);
					$("#new-pwd").attr("disabled", false);
					$('#old-pwd').val('');
					$('#new-pwd').val('');
				}
			}
			
			$('#logoutli').click(function() {
				console.log('logout')
				$('#logoutInput').val(username);
				$('#logoutForm').submit();		
			});
			
			
			function logoutfix() {
				console.log('logout')
				$('#logoutInput').val(username);
				$('#logoutForm').submit();		
			}
			
			function getUVdata1(){				
				var zipCode = $("#zipCode").val();				
				if(zipCode == "" && !zipCode){
					$(".error11").show();
					var html="<p>The field cannot be empty.<p>"
					$(".error11").html(html);							
				}
				else if(isNaN(zipCode)){
					var html="<p>Zip code expects a numeric value.<p>"
					$(".error11").show();
					$(".error11").html(html);				
				}
				else if(publicAPIKey == ''){
					var html="<p>Get your API Key to get UV INDEX.<p>"
					$(".error11").html(html);
					$(".error11").show();				
				}				
				else
				{
					$(".error11").hide();					
					var url = '/deviceData/zip?zipCode=';
					var querystring = encodeURIComponent(zipCode) + "&apikey=" + encodeURIComponent(publicAPIKey);
					$.ajax({
						type: "GET",
						url: url + querystring,
						dataType: "json",
						success: loadUVAverage1,
						error: function (jqXHR) {
							var error = jqXHR.responseJSON;
							var html = error.message;
							$(".error11").html(html); 
							$(".error11").show();
							console.log(error);
						}
					})
				}
			}

			function loadUVAverage1(data){
				console.log(data);				
				var zipCode=$("#zipCode").val();
				var html= '<p style="color: green">The average UV index for the Zip code ' + zipCode + ' is ' + data.averageUV +'.</p>';
				$(".response1").html(html);	
				$(".response1").show();		
			}
			
			function getUVdata2(){
				var city=$("#city").val();				
				if(city == ""){
					var html="<p>The field cannot be empty<p>"
					$(".error21").html(html);
					$(".error21").show();	
				}
				else if(!isNaN(city)){
					var html="<p>City cannot be a number<p>"
					$(".error21").html(html);
					$(".error21").show();
				}
				else if(publicAPIKey == ''){
					var html="<p>Get your API Key to get UV INDEX.<p>"
					$(".error21").html(html);
					$(".error21").show();				
				}
				else{					
					$(".error21").hide();
					var url = '/deviceData/city?city=';
					var querystring = encodeURIComponent(city) + "&apikey=" + encodeURIComponent(publicAPIKey);;
					$.ajax({
						type: "GET",
						url: url + querystring,
						dataType: "json",
						success: loadUVAverage2,
						error: function (jqXHR) {
							var error = jqXHR.responseJSON;
							var html = error.message;
							$(".error21").html(html)
							$(".error21").show();							
						}
					})
				}
			}			
			
            function loadUVAverage2(data){
				var city= $("#city").val();
				var html= '<p style="color: green">The average UV index for the city ' + city + ' is '+data.averageUV+ '</p>';
				$(".response2").html(html); 
				$(".response2").show();
			}			
			
			
		</script>
	</body>
	
</html>
