<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
		<title>SunSmart</title>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<!-- Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:100,200,300,400,500,600,700" rel="stylesheet">-->
		<!-- Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color: cadetblue">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar" style="color:black;background-color:black"></span>
						<span class="icon-bar" style="color:black;background-color:black"></span>
						<span class="icon-bar" style="color:black;background-color:black"></span>
					</button>
					<a class="navbar-brand" href="#">Sunsmart</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#about">About</a></li>
						<li><a href="#learn">Learn</a></li>
						<li><a href="#features">Features</a></li>
					</ul>
					<!--<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Open Modal</button></li>
					</ul>-->
					<div class="nav navbar-nav navbar-right" style="height:100%">
						<button type="button" class="btn btn-info navbar-btn" data-toggle="modal" data-target="#loginModal">Sign Up</button>
						<button type="button" class="btn btn-info navbar-btn" data-toggle="modal" data-target="#signinModal">Log In</button>
					</div>
				</div>
			</div>
		</nav>

		<section class="jumbotron" id="about">
			<div class="container">
				<h1>What the fuck</h1>
				<p>
					Aliquam tempus diam quis blandit dapibus. Sed quam diam, rutrum et dictum pharetra, pharetra eget nisl. Mauris quis turpis risus. Quisque pellentesque est quis massa consectetur eleifend. Etiam fringilla, lacus quis tincidunt mattis, nulla velit venenatis elit, sed lobortis elit lorem vitae sapien. Ut venenatis efficitur elit, vitae facilisis nisl pellentesque in. Vestibulum aliquet varius est, sit amet dapibus velit cursus vitae.
					<br />
					Nunc at sollicitudin eros. Phasellus fringilla et quam ac consequat. Sed risus ex, semper quis semper id, lacinia id tortor. Fusce ac gravida leo, sed finibus felis. Cras condimentum tellus ligula, sed interdum ligula ultrices a. Cras faucibus velit sed lacus luctus, sodales aliquet ex vestibulum. Aenean quis commodo augue, id porttitor ex.
					<br />
					Cras pretium in erat at sagittis. Nulla id libero vel tortor posuere facilisis a eu metus. Donec id mi sed nulla iaculis bibendum a vitae nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse facilisis rutrum nibh sit amet interdum. Quisque tortor nibh, laoreet ac laoreet at, dictum et nulla. Aenean commodo accumsan molestie. Praesent non dapibus diam, at elementum risus. Vestibulum ac arcu sagittis, facilisis diam iaculis, sagittis orci. Curabitur velit tellus, egestas eget cursus sit amet, viverra et augue. Praesent ornare dui nunc, non porta eros vestibulum quis. Pellentesque sem urna, egestas eget bibendum ac, tempus et ante. Sed imperdiet elit sit amet luctus tristique.
				</p>
			</div>
		</section>
		<section class="container" id="learn">
			<p>
				<h1>Where does it come from?</h1>
				Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				<br />
				The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
			</p>
		</section>
		<section class="container" id="features">
			<h1> Features </h1>
			Curabitur nec velit id ex fermentum efficitur. Sed ut pharetra sem, vel elementum tellus. Vivamus lectus augue, placerat a quam sed, cursus sollicitudin tortor. Maecenas feugiat, ex non aliquam porttitor, enim ex dapibus nibh, sit amet lacinia nulla enim ut libero. Nunc commodo a erat eget tempor. Quisque sit amet ex tortor. Nullam massa mi, viverra eget viverra in, dictum eget mi. Proin nec congue mauris. Donec ut vestibulum lorem, in dignissim massa. Aliquam imperdiet placerat mauris ac sodales. Vivamus nec diam ac enim fringilla imperdiet.
			<br />
			Nullam ac erat non nisi euismod bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius ligula vitae viverra finibus. Curabitur id augue vitae ligula laoreet tincidunt. Aliquam sodales velit justo, at vulputate augue fringilla vel. Phasellus a porttitor arcu. Etiam vestibulum ante at convallis aliquet.
			<br />
			<br />
			Sed est nisi, aliquet vel sollicitudin eu, pharetra ac ipsum. Maecenas vel sollicitudin mauris. Suspendisse potenti. Ut venenatis lobortis purus vel sagittis. Vivamus id lorem sed ligula sagittis feugiat eu vitae sapien. Pellentesque augue metus, feugiat sed placerat non, auctor in metus. Pellentesque tempor eu nibh nec pretium.
			<br />
			<br />
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra risus lacus. Nullam rutrum mi mauris, vel volutpat nulla convallis sed. Aliquam at mi id leo condimentum interdum. Proin pharetra posuere lacus at sollicitudin. Maecenas accumsan consectetur magna sit amet finibus. Fusce porta turpis at tempus consequat. Quisque sed aliquet lorem, non fermentum massa. Aliquam leo mi, ultricies ac mattis ut, vulputate nec mi. In venenatis quis augue vel tempor.
			<br />
			<br />
			Aenean mattis mollis mauris ac pharetra. Sed aliquet lorem non libero eleifend, at sollicitudin neque fermentum. Integer commodo metus in orci suscipit dictum. Duis nec tellus a mi commodo elementum. Donec efficitur augue vel elit lacinia, sed tempor nisl placerat. Aliquam finibus, orci id lacinia lobortis, nibh orci vehicula lacus, eu viverra tellus justo sit amet dolor. Nam dui urna, tempor ut malesuada sit amet, scelerisque non arcu. Duis magna justo, lobortis eu leo nec, imperdiet convallis dolor.
		</section>

		<!-- Modal for Log-in-->
		<div id="loginModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Login form</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="custName">Name</label>
								<input type="text" class="form-control" id="custName" placeholder="Enter Full Name">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" id="submitform" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for sign-in-->
		<div id="signinModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Sign In form</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="username">Email ID</label>
								<input type="email" class="form-control" id="username" placeholder="Email Id">
							</div>
							<div class="form-group">
								<label for="signinpwd">Password</label>
								<input type="password" class="form-control" id="signinpwd" placeholder="Password">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" id="signin" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			// Select all links with hashes
			$('a[href*="#"]')
			// Remove links that don't actually link to anything
			.not('[href="#"]')
			.not('[href="#0"]')
			.click(function (event) {
				// On-page links
				if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                &&
                location.hostname == this.hostname
				) {
					// Figure out element to scroll to
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					// Does a scroll target exist?
					if (target.length) {
						// Only prevent default if animation is actually gonna happen
						event.preventDefault();
						$('html, body').animate({
							scrollTop: target.offset().top
							}, 1000, function () {
							// Callback after animation
							// Must change focus!
							var $target = $(target);
							$target.focus();
							if ($target.is(":focus")) { // Checking if the target was focused
								return false;
								} else {
								$target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
								$target.focus(); // Set focus again
							};
						});
					}
				}
			});

			var button= document.getElementById('submitform');
			button.addEventListener('click', postData);

			function postData(){
				var url = 'http://ec2-13-59-250-78.us-east-2.compute.amazonaws.com/users/login';
				var data = {
					name: $("#custName").val(),
					email: $("#exampleInputEmail1").val(),
					password: $( "#exampleInputPassword1" ).val(),
				}

				$.ajax({
					type: "POST",
					url: url,
					dataType: "text",
					data: data,
					success: FormSubmit
				});
			}

			function FormSubmit(msg, status, jqXHR){
				console.log(status);
				if(status == 'success'){
					document.location = 'shipping.html';
				}
				else{
					console.log(status);
					console.log(msg);
					console.log(jqXHR);
				}
			}

			var signInbutton= document.getElementById('signin');
			signInbutton.addEventListener('click', UserSignIn);

			function UserSignIn(){
				var url = 'http://ec2-13-59-250-78.us-east-2.compute.amazonaws.com/users/auth';
				var data = {
					email: $("#username").val(),
					password: $( "#signinpwd" ).val()
				}

				$.ajax({
					type: "POST",
					url: url,
					dataType: "text",
					data: data,
					success: FormValidation,
					error: FormValidation
				});
			}

			function FormValidation(msg, status, jqXHR){
				console.log(status);
				console.log(msg);
				console.log(jqXHR);
			}

		</script>
	</body>

</html>
