#uvcard {
	background-image: url("/images/uv.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#device {
	background-image: url("/images/iot.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#healthtip {
	background-image: url("/images/ht.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#profile {
	background-image: url("/images/up.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#forecastcard {
	background-image: url("/images/uv.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#sunsmartapicard {
	background-image: url("/images/up.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.btn-dashboard {
	/* width: 250px; */
	width: 100%;
	display: inline-block;
}

.shadow{
	box-shadow:20px 20px 50px 15px lightgrey;
}	

.table-wrapper {
	max-width: 600px;
	max-height: 600px;
	overflow-y: scroll;
}
